 # Ignore node_modules directories anywhere in the project
 **/node_modules/
 
 # Ignore vendor directories anywhere in the project
 **/vendor/
 
 # Ignore environment files
 .env
 
 # Ignore IDE and OS files
 .idea/
 .vscode/
 .DS_Store
 
 # Ignore git directory
 .git/
 
 # Ignore Docker files
 Dockerfile
 .dockerignore